body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Nunito Sans', sans-serif;
  line-height: 1.5;
  background-image: url("img/blurred.jpg");
  background-size: cover;
  color: white;
}

h1 {
  text-align: center;
  color: #BEC1CA;
  font-weight: bold;
}

.container {
  margin-top: 50px;
  margin-bottom: 30px;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  padding: 30px;
}

.tareasList {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

form {
  display: flex;
}

input {
  padding: 15px 10px;
  width: 100%;
  height: 15px;
  outline: none;
}

.btn-add {
  padding: 5px 15px;
  color: white;
  border: none;
  background-color: #B5A0C9;
  font-size: 1.4rem;
  font-weight: bold;
  outline: none;
  cursor: pointer;
}

.empty {
  color: black;
}

ul {
  padding: 0;
}

li {
  list-style: none;
  background-color: #FCE9E3;
  margin-top: 15px;
  display: flex;
  color: black;
}

li p {
  margin: 0;
  padding: 12px 10px;
  width: 100%;
}

.btn-delete {
  padding: 0 17px;
  color: white;
  border: none;
  background-color: #AE3441;
  font-weight: bold;
  outline: none;
}

.btn-delete:hover {
  background-color: red;
  cursor: pointer;
}

.btn-history {
  background-color: #BEC1CA;
  height: 32px;
  border: none;
  cursor: pointer;
  font-family: 'Nunito Sans';
  font-weight: 500;
}

.footer {
	text-align: center;
	text-decoration: none;
  line-height: 0%;
  color: black;
  font-family: 'Nunito Sans';
  font-weight: 500;
}